<form action="/edit" method="POST">
    <input type="hidden" name="id" value="<%= one[0]._id %>" >
   <input type="text" placeholder="name" name="name" value="<%= one[0].name %>">
   <input type="text" placeholder="password" name="password" value="<%= one[0].password %>">
   <button type="submit">Submit</button>
</form>
